app/Workflows/ReviewHub-AddUserstoNewGroup-Stakeholders-63EA6D9B-663D-ED11-BBA3-000D3A5BC525.json
{
  "properties": {
    "connectionReferences": {
      "shared_azuread_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedazuread_edb08"
        },
        "api": {
          "name": "shared_azuread"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedoffice365users_3cce7"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataserviceforapps_1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedcommondataserviceforapps_72f86"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar - ReviewHub - Read Write Access Group (chub_EnvVarReviewHubReadWriteAccessGroup)": {
          "defaultValue": "4d2c1c28-ad21-4bb5-a8b9-b7d33c105b39",
          "type": "String",
          "metadata": {
            "schemaName": "chub_EnvVarReviewHubReadWriteAccessGroup"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4e6b13e8-3978-4bf9-8625-b5307abf5442"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "craf2_reviewhub_stakeholder",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "craf2_productstakeholders",
              "subscriptionRequest/name": "63ea6d9b-663d-ed11-bba3-000d3a5bc525"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": []
        }
      },
      "actions": {
        "Initialize_stakeholderEmails": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "96eb5012-74f0-4591-be5a-a470fa5e5a47"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "stakeholderEmails",
                "type": "array",
                "value": "@if(empty(triggerOutputs()?['body/craf2_productstakeholders']), null, split(triggerOutputs()?['body/craf2_productstakeholders'], '|'))"
              }
            ]
          }
        },
        "Apply_to_each_stakeholderEmails": {
          "foreach": "@variables('stakeholderEmails')",
          "actions": {
            "Check_group_membership_of_a_stakeholder": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ee11e37a-b820-47d8-a404-d699305276ff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread",
                  "connectionName": "shared_azuread_1",
                  "operationId": "CheckMemberGroupsV2"
                },
                "parameters": {
                  "id": "@items('Apply_to_each_stakeholderEmails')",
                  "body/groupIds": [
                    "@variables('ReviewHubAccess-ReadWriteGroup')"
                  ]
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "If_stakeholder_belong_to_ReadWriteGroup": {
              "actions": {
                "Get_user_profile": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5aff1d93-d003-436c-9f82-a40d52c02df0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                      "connectionName": "shared_office365users_1",
                      "operationId": "UserProfile_V2"
                    },
                    "parameters": {
                      "id": "@items('Apply_to_each_stakeholderEmails')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_stakeholder_to_ReadWrite_group": {
                  "runAfter": {
                    "Get_user_profile": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "473619ad-00a1-4e34-a3f7-f354bb6d6cff"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread",
                      "connectionName": "shared_azuread_1",
                      "operationId": "AddUserToGroup"
                    },
                    "parameters": {
                      "id": "@variables('ReviewHubAccess-ReadWriteGroup')",
                      "body/@odata.id": "@outputs('Get_user_profile')?['body/id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Check_group_membership_of_a_stakeholder": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('Check_group_membership_of_a_stakeholder')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "308ec4fa-3879-4aab-91e3-c5b28197d6ff"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "ReviewHubAccess-ReadWriteGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f22d29e5-b8f1-47fa-88d3-05966d68d136"
          },
          "type": "Foreach"
        },
        "ReviewHubAccess-ReadWriteGroup": {
          "runAfter": {
            "Initialize_stakeholderEmails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8da86aee-5503-4b49-aa97-1ca1fd54a3c1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ReviewHubAccess-ReadWriteGroup",
                "type": "string",
                "value": "@parameters('EnvVar - ReviewHub - Read Write Access Group (chub_EnvVarReviewHubReadWriteAccessGroup)')"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}