app/Workflows/ReviewHub-ScorecardOnboardingAutomation-3B64E66D-EE21-ED11-9DB2-000D3A36B7E4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedcommondataserviceforapps_72f86"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedoffice365_aaf4a"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_visualstudioteamservices": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "chub_sharedvisualstudioteamservices_744ee"
        },
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)": {
          "defaultValue": "reviewhub-noreply@microsoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "chub_EnvVarReviewHubNotificationEmail"
          }
        },
        "EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)": {
          "defaultValue": "dtpreviewhub@microsoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "chub_EnvVarReviewHubTeamEmail"
          }
        },
        "EnvVar - ReviewHub - Scorecard Onboarding Request Title (chub_EnvVarReviewHubScorecardOnboardingRequestTitle)": {
          "defaultValue": "review hub scorecard type onboarding",
          "type": "String",
          "metadata": {
            "schemaName": "chub_EnvVarReviewHubScorecardOnboardingRequestTitle"
          }
        }
      },
      "triggers": {
        "When_a_work_item_is_updated": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "671450bb-98f4-4e8d-a1b9-43faf671d601"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_visualstudioteamservices",
              "operationId": "OnWorkItemUpdatedV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
            },
            "parameters": {
              "account": "msazure",
              "project": "One",
              "wiql__System_WorkItemType": "Product Backlog Item",
              "wiql__System_AreaPath": "One\\BAG Analytics and Insights\\ROBs\\Review Hub\\Product Review",
              "areaPathComparison": "Equals",
              "iterationPathComparison": "Equals"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Board_Type_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "41eeae75-3d0d-46d3-bf7b-0d8a7cc95a4d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BoardTypeID",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_Coordinator": {
          "runAfter": {
            "Initialize_Board_Type_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "483c2366-1c68-4903-9ac9-95e065712d30"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Coordinator",
                "type": "string",
                "value": "@triggerOutputs()?['body/fields/One_custom_CustomField2']"
              }
            ]
          }
        },
        "Initialize_Board_Type_Name": {
          "runAfter": {
            "Initialize_Coordinator": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc424ecf-17fc-4f80-9835-6a591f95cd15"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BoardTypeName",
                "type": "string",
                "value": "@triggerOutputs()?['body/fields/One_custom_CustomField3']"
              }
            ]
          }
        },
        "Initialize_Coordinator_Name": {
          "runAfter": {
            "Initialize_Board_Type_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6105d7bd-41fc-44d1-adaa-6ec208018bbc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CoordinatorName",
                "type": "string",
                "value": "@triggerOutputs()?['body/fields/One_custom_CustomField1']"
              }
            ]
          }
        },
        "Initialize_Template_ID": {
          "runAfter": {
            "Initialize_Coordinator_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "630dcdc7-a5a6-4492-b792-40ae0829ec11"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TemplateID",
                "type": "integer"
              }
            ]
          }
        },
        "Is_Scorecard_Onboarding": {
          "actions": {
            "Is_Approved": {
              "actions": {
                "Safe_To_Create": {
                  "actions": {
                    "Board_Type_does_not_exists": {
                      "actions": {
                        "Increment_Board_Type_ID": {
                          "runAfter": {
                            "Set_Board_Type_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4eb3b248-fe72-4905-82f3-51b3ffe418e5"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "BoardTypeID",
                            "value": 1
                          }
                        },
                        "Insert_Board_Type": {
                          "runAfter": {
                            "Increment_Board_Type_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9c96d3ec-2045-4bee-8b89-502719e86131"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "craf2_reviewhub_boardtypes",
                              "item/craf2_boardtypeid": "@variables('BoardTypeID')",
                              "item/craf2_boardtypename": "@variables('BoardTypeName')",
                              "item/craf2_isdisplayinapp": true,
                              "item/craf2_boardtypeshortname": "@variables('BoardTypeName')",
                              "item/craf2_bt_displayorder": "@variables('BoardTypeID')",
                              "item/craf2_coordinator": "@split(split(triggerOutputs()?['body/fields/System_CreatedBy'], '<')[1], '>')[0]",
                              "item/craf2_expectedautoloaddaypermonth": 5,
                              "item/chub_reviewlockday": 31
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Get_Last_Inserted_Template_ID": {
                          "runAfter": {
                            "Insert_Board_Type": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c8aed19e-c9cc-49af-b860-f03ba957007f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "craf2_reviewhub_metrictemplates",
                              "$select": "craf2_templateid",
                              "$orderby": "craf2_templateid desc"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Set_Template_ID": {
                          "runAfter": {
                            "Get_Last_Inserted_Template_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "020014de-c0b8-4a00-bce2-b204af976990"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "TemplateID",
                            "value": "@first(outputs('Get_Last_Inserted_Template_ID')?['body/value'])['craf2_templateid']"
                          }
                        },
                        "Increment_Template_ID": {
                          "runAfter": {
                            "Set_Template_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f0dd1d43-c34e-46d9-a49e-83dc20d7b556"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "TemplateID",
                            "value": 1
                          }
                        },
                        "Insert_Metric_Template": {
                          "runAfter": {
                            "Increment_Template_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f514cc7b-cc29-4421-bc10-6a746c78fda0"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "craf2_reviewhub_metrictemplates",
                              "item/craf2_isdisplayinapp": true,
                              "item/craf2_TemplateBoardType@odata.bind": "\\systemusers(@{outputs('Insert_Board_Type')?['body/craf2_reviewhub_boardtypeid']})",
                              "item/craf2_templateid": "@variables('TemplateID')",
                              "item/craf2_templatename": "@variables('BoardTypeName')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_Approved_Email": {
                          "runAfter": {
                            "Insert_Metric_Template": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a0ed610d-3ec5-4a29-832c-8ef5a9f56da4"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@variables('Coordinator')",
                              "emailMessage/Subject": "Scorecard Type Creation",
                              "emailMessage/Body": "<p>Dear @{variables('CoordinatorName')},<br>\n<br>\nYour Scorecard \"@{variables('BoardTypeName')}\" has been approved and has been created successfully you can navigate to the <a href=\"https://aka.ms/ReviewHub\">Review Hub</a> to setup your metrics. <br>\n<br>\nYou can take a look at the user guide <a href=\"https://microsofteur-my.sharepoint.com/:p:/g/personal/limuzira_microsoft_com/Edj-Duc1cBFDuPzGtaH8f2oBmONkaYwCppoHfi6R0SnZkw?e=w4B73j\">here</a> for the next steps if you are unfamiliar with the platform.<br>\n<br>\nBest regards,<br>\nReview Hub team.</p>",
                              "emailMessage/From": "@parameters('EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)')",
                              "emailMessage/Cc": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                              "emailMessage/ReplyTo": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Get_Last_Inserted_ID": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "6a691a94-5ae8-410f-8e7b-2ac15ca130c9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "craf2_reviewhub_boardtypes",
                              "$select": "craf2_boardtypeid",
                              "$orderby": "craf2_boardtypeid desc"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Set_Board_Type_ID": {
                          "runAfter": {
                            "Get_Last_Inserted_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "905f3ed9-4e26-4c45-9655-2f26ea13a46b"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "BoardTypeID",
                            "value": "@first(outputs('Get_Last_Inserted_ID')?['body/value'])['craf2_boardtypeid']"
                          }
                        }
                      },
                      "runAfter": {
                        "Check_Exists": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Send_Error_Duplicate_Scorecard": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "6c15312e-4138-44fb-bf13-f565a9ac2c83"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_office365",
                                "operationId": "SendEmailV2",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                              },
                              "parameters": {
                                "emailMessage/To": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                                "emailMessage/Subject": "ScoreCard Automation Failed Due to Unsafe Checks",
                                "emailMessage/Body": "<p>Hi Review Hub Dev Team,<br>\n<br>\nCreation of the following scorecard \"@{variables('BoardTypeName')}\" for coordinator @{variables('CoordinatorName')}, @{variables('Coordinator')} failed due to duplicate scorecard name.<br>\n<br>\nRegards,<br>\nReview Hub Team.</p>",
                                "emailMessage/From": "@parameters('EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)')",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('Check_Exists')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a807a2f7-a0c8-4aa2-aea3-c607b43b4f14"
                      },
                      "type": "If"
                    },
                    "Check_Exists": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a0572e59-d891-4925-aa98-23212f533e3a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "craf2_reviewhub_boardtypes",
                          "$select": "craf2_boardtypeid",
                          "$filter": "craf2_boardtypename eq '@{variables('BoardTypeName')}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_Error_Email": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "ca2d96b5-e41c-426a-abd1-1bc8bc1f293e"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                            "emailMessage/Subject": "ScoreCard Automation Failed Due to Unsafe Checks",
                            "emailMessage/Body": "<p>Hi Review Hub Dev Team,<br>\n<br>\nCreation of the following scorecard \"@{variables('BoardTypeName')}\" for coordinator @{variables('CoordinatorName')}, @{variables('Coordinator')} failed due to invalid scorecard name.<br>\n<br>\nRegards,<br>\nReview Hub Team.</p>",
                            "emailMessage/From": "@parameters('EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@variables('BoardTypeName')",
                            "@null"
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@variables('BoardTypeName')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6892d734-c787-43a1-9cd4-820aac2f5e6e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Is_Rejected": {
                    "actions": {
                      "Send_Rejected_Email": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "5091e824-432d-4ff6-ba7e-5c2d043c196d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@variables('Coordinator')",
                            "emailMessage/Subject": "Scorecard Type Creation",
                            "emailMessage/Body": "<p>Dear @{variables('CoordinatorName')},<br>\n<br>\nYour Scorecard \"@{variables('BoardTypeName')}\" has been rejected you can confirm the most recent comments on the request by visting @{triggerOutputs()?['body/url']}.<br>\n<br>\nBest regards,<br>\nReview Hub team.</p>",
                            "emailMessage/From": "@parameters('EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)')",
                            "emailMessage/Cc": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                            "emailMessage/ReplyTo": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Confirm_If_New": {
                          "actions": {
                            "Send_Notification_Email": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "015c67cd-5a9b-4d1a-af43-021098cd4c97"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                                  "emailMessage/Subject": "Scorecard Type Creation",
                                  "emailMessage/Body": "<p>Dear Team,<br>\n<br>\nA new Scorecard Type Creation request has been made by the user @{variables('Coordinator')}. The feature request is titled @{triggerOutputs()?['body/fields/System_Title']} and its current state is @{triggerOutputs()?['body/fields/System_State']}. &nbsp;You can confirm the most recent comments on the request by visiting @{triggerOutputs()?['body/url']}.<br>\n<br>\nRegards,<br>\nReview Hub Feature Team.</p>",
                                  "emailMessage/From": "@parameters('EnvVar - ReviewHub - Notification Email (chub_EnvVarReviewHubNotificationEmail)')",
                                  "emailMessage/ReplyTo": "@parameters('EnvVar - ReviewHub - Team Email (chub_EnvVarReviewHubTeamEmail)')",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "equals": [
                              "@triggerOutputs()?['body/fields/System_State']",
                              "New"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d7d7464f-ef70-431e-a8fa-44c279736ff1"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@triggerOutputs()?['body/fields/Scrum_custom_Status']",
                        "Rejected"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "253d0e93-43b2-4765-916b-633b493501f2"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/fields/System_State']",
                  "Approved"
                ]
              },
              "metadata": {
                "operationMetadataId": "01d3b559-7272-424a-bb75-36e9df988ce7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Template_ID": [
              "Succeeded"
            ]
          },
          "expression": {
            "contains": [
              "@toLower(triggerOutputs()?['body/fields/System_Title'])",
              "@parameters('EnvVar - ReviewHub - Scorecard Onboarding Request Title (chub_EnvVarReviewHubScorecardOnboardingRequestTitle)')"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ea0b2e3-73b3-42d3-9f62-41c0ed15c996"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}